
body{
  margin:0px;
  padding: 0px;
}
.page_wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box{
  background-color: rgb(202, 247, 247);
  border: 2px solid rgb(47, 138, 138);
  border-radius: 5px;
  padding: 30px;
  width: 300px;
  align-self: center;
}
.form{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.user_data{
  color:red;
}
.user_age{
  margin-top: 10px;
  width: 80px;
}
.btn {
  background:pink;
  color:black;
  margin-top: 20px;
  height: 40px;
  width: 80px;
  border-radius: 30px;
}
.result{
  padding: 10px;
  text-align: center;
}