<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Years to retirement</title>
  <link rel="icon" href="carol.png"/> 
  <link rel="stylesheet" href="assets/css/main.css">
  
</head>
<body>
  <div class="page_wrapper">
  <h1 class="title">Years To Retirement</h1>
    <!-- 1. En mi HTML voy a tener los elementos que necesito para trabajar:
    - un input tipo number para meter la edad del usuario
    - un button para que al hacer click funcione
    - un p donde escribir el resultado -->
    <div class="box">
      <form class="form">
        <label clas="user_data">Edad del usuario</label>
        <input type="number" class="user_age">
        <button type="button" class="btn">Enviar</button>
      </form>
      <p class="result">Dime tu edad y te diré los años que te qudan para jubilarte</p>
    </div>
  </div>
  <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>